.search-bar {
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
}
.search-bar input {
  margin-left: 10px;
  font-size: 20px;
  width: 100%;
}
.recommend {
  margin-top: 110px;
}
.recommend__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1px;
}

.recommend__row__post {
  position: relative;
}
.recommend img {
  width: 33.1vw;
  height: 33.1vw;
  object-fit: cover;
}
.recommend__row__post i {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  color: transparent;
}
.photos i {
  color: white;
}
